.text{
    /* single shadow */
    text-shadow: 1px 1px 2px red; 
    /* for double shadows  */
    text-shadow: 1px 1px 2px red , 1px 1px 2px green;
    color: lightblue;

}

.box{
    background-color: aqua;
    
    width: 200px;
    height: 200px;
    color: brown;

    box-shadow: 10px 10px 10px red,15px 15px 2px green ;
}